<!DOCTYPE html>
<html>
<head>
    <title>PhishGuard AI</title>
</head>
<body>

<div style="display:flex;height:100vh;">

    <!-- SIDEBAR -->
    <div style="width:220px;padding:20px;border-right:1px solid #ccc;">
        <h3>PhishGuard</h3>
        <ul>
            <li><a href="/url-scan">URL Scan</a></li>
            <li><a href="/image-scan">Image Scan</a></li>
            <li><a href="/pdf-scan">PDF Scan</a></li>
            <li><a href="/text-scan">Text Scan</a></li>
            <hr>
            <li><a href="/incidents">Incidents</a></li>
            <li><a href="/reports">Reports</a></li>
        </ul>
    </div>

    <!-- MAIN -->
    <div style="flex:1;padding:30px;">
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>
